### Imports and preparation

In [16]:
import os
import pandas as pd

In [26]:
# Where are we going to work?
data_path = "../data/prelim/preprocess2/out/"
pickle_path = "../data/prelim/work/out.pickle"
out_path = "../data/prelim/work/annotate.txt"

In [27]:
df = pd.read_pickle(pickle_path)
df.head()

    file_name         class_name xmin ymin xmax ymax
0  in-011.jpg  contenu_éditorial    1    1  479  640
1  in-011.jpg         couverture    1    1  479  640
2  in-010.jpg  contenu_éditorial    1    1  477  640
3  in-010.jpg            article    1    1  477  640
4  in-010.jpg            preview    1    1  479  640

### Conversion
The format for the `keras-frcnn` is `filepath,x1,y1,x2,y2,class_name`. We need to create a text file with this format.

In [28]:
df['file_name'] = data_path + df['file_name']
df.head()

,file_name,class_name,xmin,ymin,xmax,ymax
0,../data/prelim/preprocess2/out/in-011.jpg,contenu_éditorial,1,1,479,640
1,../data/prelim/preprocess2/out/in-011.jpg,couverture,1,1,479,640
2,../data/prelim/preprocess2/out/in-010.jpg,contenu_éditorial,1,1,477,640
3,../data/prelim/preprocess2/out/in-010.jpg,article,1,1,477,640
4,../data/prelim/preprocess2/out/in-010.jpg,preview,1,1,479,640

In [29]:
col = list(df.columns)
col = [col[0]] + col[2:] + [col[1]]
df = df[col]
df.head()

,file_name,xmin,ymin,xmax,ymax,class_name
0,../data/prelim/preprocess2/out/in-011.jpg,1,1,479,640,contenu_éditorial
1,../data/prelim/preprocess2/out/in-011.jpg,1,1,479,640,couverture
2,../data/prelim/preprocess2/out/in-010.jpg,1,1,477,640,contenu_éditorial
3,../data/prelim/preprocess2/out/in-010.jpg,1,1,477,640,article
4,../data/prelim/preprocess2/out/in-010.jpg,1,1,479,640,preview

### Saving

In [30]:
df.to_csv(out_path, index=False, sep=',', header=None)