### Imports and preparation

In [1]:
import os
import pandas as pd

In [2]:
# Where are we going to work?
data_path = "../data/prelim/preprocess2/out/"
pickle_path = "../data/prelim/work/out.pickle"
out_path = "../data/prelim/work/annotate.txt"

In [3]:
df = pd.read_pickle(pickle_path)
df.head()

    file_name         class_name xmin ymin xmax ymax
0  in-011.jpg  contenu_éditorial    1    1  479  640
1  in-011.jpg         couverture    1    1  479  640
2  in-010.jpg  contenu_éditorial    1    1  477  640
3  in-010.jpg            article    1    1  477  640
4  in-010.jpg            preview    1    1  479  640

### Conversion
The format for the `keras-frcnn` is `filepath,x1,y1,x2,y2,class_name`. We need to create a text file with this format.

In [4]:
df['file_name'] = data_path + df['file_name']
df.head()

,file_name,class_name,xmin,ymin,xmax,ymax
0,../data/prelim/preprocess2/out/in-011.jpg,contenu_éditorial,1,1,479,640
1,../data/prelim/preprocess2/out/in-011.jpg,couverture,1,1,479,640
2,../data/prelim/preprocess2/out/in-010.jpg,contenu_éditorial,1,1,477,640
3,../data/prelim/preprocess2/out/in-010.jpg,article,1,1,477,640
4,../data/prelim/preprocess2/out/in-010.jpg,preview,1,1,479,640

In [5]:
col = list(df.columns)
col = [col[0]] + col[2:] + [col[1]]
df = df[col]
df.head()

,file_name,xmin,ymin,xmax,ymax,class_name
0,../data/prelim/preprocess2/out/in-011.jpg,1,1,479,640,contenu_éditorial
1,../data/prelim/preprocess2/out/in-011.jpg,1,1,479,640,couverture
2,../data/prelim/preprocess2/out/in-010.jpg,1,1,477,640,contenu_éditorial
3,../data/prelim/preprocess2/out/in-010.jpg,1,1,477,640,article
4,../data/prelim/preprocess2/out/in-010.jpg,1,1,479,640,preview

### Saving

In [6]:
df.to_csv(out_path, index=False, sep=',', header=None)

### Some exploration
We would like to know how many classes we have and how much datapoints per class.

In [9]:
df.groupby('class_name').size().reset_index(name='counts').sort_values(by='counts', ascending=False)

           class_name  counts
2   contenu_éditorial       9
16          publicité       6
0             article       5
8                note       5
5                logo       4
9             preview       3
11         pub_encart       3
13            pub_mag       3
14    pub_pleine_page       3
15          pub_texte       3
4                 jeu       2
6             minitel       2
17          revendeur       2
1        bon_commande       2
12      pub_graphique       2
18             soluce       1
10         pub_double       1
7                news       1
3          couverture       1
19               test       1